.row-green2 .x-grid-cell{
    background-color : #05C0C0 !important;
}

.row-yellow .x-grid-cell{
    background-color: #fff000 !important;
}

.row-white .x-grid-cell{
    background-color: #ffffff !important;
}

.row-black .x-grid-cell{
    background-color: #000000 !important;
}

.row-blue .x-grid-cell{
    background-color: #2368da !important;
}

.row-red .x-grid-cell{
    background-color: #fd2c2c !important;
}

.row-green .x-grid-cell{
    background-color: #2cfd5d !important;
}

.row-magenta .x-grid-cell{
    background-color: #fd2cf6 !important;
}

.row-orange .x-grid-cell{
    background-color: #FFA500 !important;
}

.row-qianlan .x-grid-cell{
    background-color: #99FFCC !important;
}

.row-qianchen .x-grid-cell{
    background-color: #FFCCCC !important;
}

.row-qianhui .x-grid-cell{
    background-color: #E0E0E0 !important;
}

.row-rosegold .x-grid-cell{
    background-color: #ECB1AC !important;
}



